<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="STYLESHEET" href="project2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        <script src="pp.js"></script>

</head>

<body>
    <!-- <h1>hello <i class="fa-solid fa-magnifying-glass"></i> </h1> -->
    <section>
        <div id="img">
          
            <div class="center">
                <div class="para">There is no other <br> platforms for you as like</div><br>
                <div class="play">
                    <i class="fa-solid fa-circle-play"></i>
                </div>
                <br>
                <div class="trynow">
                    <input class="button" type="submit" value="try now">
                </div>

                <div class="cart">
                    <ol>
                        <li>No need to add card details</li>
                    </ol>
                </div>
            </div>
        </div><br>
    </section>

    <!-- <div id="sp"></div> -->

    <!-- section 2-->
    <section>
        <div class="box">

            <div class="box1">

                <p id="red">new design</p>

                <h2>There is no other platforms <br> for you as like <i style="color:red">....</i></h2>


                <P class="pra">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sequi assumenda! Sed
                    cumque accusantium ipsa! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, laborum!
                    <br>
                    <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet iste aliquid eveniet, deleniti
                    libero impedit! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, provident.
                </P>

            </div>
            <br>
            <div class="box2">
                <div class="box2a"></div>
            </div>
            <br><br><br><br><br><br><br>

        </div><br>



    </section>
    <!-- section 3-->
    <section>
        <div class="boxx">
            <div class="head">

                <p id="red">new features</p>
                <h2>some awesome features</h2>
                <br>

            </div>
            <div class="icon">

                <div class="icon1">
                    <div class="album">
                        <i class="fa-regular fa-image"></i>
                    </div>
                    <div class="name">
                        <h3>some awesome features</h3>
                    </div>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate autem rem id
                        delectus vitae expedita minima voluptatum, maxime illo debitis soluta, pariatur laudantium iusto
                        temporibus maiores?</div>
                    <br>
                </div>
                <div class="icon1">
                    <div class="album">
                        <i class="fa-solid fa-plane-departure"></i>
                    </div>
                    <div class="name">
                        <h3>some awesome features</h3>
                    </div>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate autem rem id
                        delectus vitae expedita minima voluptatum, maxime illo debitis soluta, pariatur laudantium iusto
                        temporibus maiores?</div>
                    <br>
                </div>
                <div class="icon1">
                    <div class="album">
                        <i class="fa-solid fa-lightbulb"></i>
                    </div>
                    <div class="name">
                        <h3>some awesome features</h3>
                    </div>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate autem rem id
                        delectus vitae expedita minima voluptatum, maxime illo debitis soluta, pariatur laudantium iusto
                        temporibus maiores?</div>

                    <br>
                </div>




            </div>


            <br><br>
        </div><br>
    </section>

    <!-- section 4 -->
    <section>
        <div class="box10">
            <!-- <div class="box11">

            </div> -->
            <div class="box9">
                <div class="box12">

                </div>

                <div class="box9text">
                    <p id="red">new design</p>
                    <h2>Responsive design,just <br> need your tap <i style="color:red">....</i></h2>
                    <p id="Lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita beatae magni ducimus
                        molestiae ipsam possimus accusantium repudiandae fugit est eius harum, amet nemo voluptatum
                        delectus
                        eaque vitae <br></p>
                </div>


            </div>




        </div>
        <br>
    </section>

    <!-- section 5 -->
    <section>
        <div class="box20">
            <br> <br>
            <div class="box21">
                <div class="a21">
                    <img src="./IMAGE/man1.jpeg" alt="pic" height="70px" width="70px">

                    <p style="color:white">Jonathan Doe</p>

                    <p id="red" style="font-size: 10px;">Co-Founder</p>

                    <p id="Lorem"><i><q>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
                                provident molestias tempora ipsum ducimus laboriosam illo repudiandae harum. Expedita
                                cupiditate laudantium consequatur eveniet facilis quod?</q></i></p>
                </div>

                <div class="a21">
                    <img src="./IMAGE/man2.jpg" alt="pic" height="70px" width="70px">
                    <p style="color:white">Jonathan Doe</p>

                    <p id="red" style="font-size: 10px;">Co-Founder</p>

                    <p id="Lorem"><i><q>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
                                provident molestias tempora ipsum ducimus laboriosam illo repudiandae harum. Expedita
                                cupiditate laudantium consequatur eveniet facilis quod?</q></i></p>
                </div>

                <div class="a21">
                    <img src="./IMAGE/man3.jpeg" alt="pic" height="70px" width="70px">
                    <p style="color:white">Jonathan Doe</p>

                    <p id="red" style="font-size: 10px;">Co-Founder</p>

                    <p id="Lorem"><i><q>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
                                provident molestias tempora ipsum ducimus laboriosam illo repudiandae harum. Expedita
                                cupiditate laudantium consequatur eveniet facilis quod?</q></i></p>
                </div>
            </div>

            <br>
            <br>
            <div class="box22">
                <div class="a22"><i>Hits</i></div>
                <div class="b22"><i>RVLVR</i></div>
                <div class="b22"><i class="fa-solid fa-earth-americas"></i></div>
                <div class="b22"><i>sierce</i></div>
            </div>
            <br><br>
        </div>
        <br>


    </section>
    <!-- section 6 -->
    <section>
        <div class="box30">
            <div class="head">

                <p id="red">new features</p>
                <h2>some awesome features</h2>
                <div class="a30">

                    <p id="Lorem1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim facilis quam neque unde
                        sapiente officia tolores minus laudantium consectetur quia eum error exercitationem</p>
                </div>
            </div>
            <br>

            <div class="box31"></div>
            <br>
        </div><br>


    </section>

    <!-- section 7 -->
    <section>
        <div class="box40">
            <div class="head">
                <p id="red">new features</p>
                <h2 style="color:white">Our 1000 deigner are using ...</h2>
            </div>

            <div class="box41">

                <div class="a41">
                    <input type="text" id="username" placeholder="YOUR NAME">
                </div><br>
                <div class="a41">
                    <input type="email" id="email" placeholder="YOUR EMAIL" required>
                </div> <br>
                <div class="a41">
                    <input type="password" id="password" placeholder="PASSWORD">

                </div>

                <div class="a42"><br>
                    <p style="font-size: 19px;"> 30 days free trial <i class="fa-solid fa-arrow-turn-down"></i></p>

                    <input class="button" onclick="ok()" type="button" value="try now">
                </div>
                <script>
                    const name = document.getElementById("username");
                    const email = document.getElementById("email");
                    const pass = document.getElementById("password");

                    function ok() {
                        if (name.value == "" || email.value == "" && pass.value == "") {
                            alert("ENTER INFORMATION")
                        }
                        else {
                            alert("free trial submit succesfully")
                            name.value = "";
                            email.value = "";
                            pass.value = "";
                        }

                    }


                </script>


            </div>
            <br><br>

            <p style="text-align: center; color: white;"> by signing up you agree to our <a id="abc" href="#"
                    style="color: rgb(196, 190, 190); ">terms and policy</a> </p>
            <br><br><br>

        </div>

    </section>

    <!-- section 8 -->
    <section>
        <footer>
            <div class="box50" >
                <div class="box51" id="box50">
                    <h4> start <i id="ok">ex</i></h4>

                    <div class="a51">

                        <p style="opacity: 0.7;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum nisi modi
                            aliquam consequatur aliquid dolore perferendis quos quis, blanditiis nobis ipsam illum omnis
                            ratione voluptas at, adipisci magni soluta architecto.</p>
                    </div>

                </div>

                <div class="box51">
                    <h4> support</h4>

                    <div class="a51">

                        <a href="#">help center</a><br>
                        <a href="#">get started</a><br>
                        <a href="#">contact us</a><br>
                    </div>

                </div>
                <div class="box51">
                    <h4> about us</h4>

                    <div class="a51">

                        <a href="#">about us</a><br>
                        <a href="#">term of policy</a><br>
                        <a href="#">privacy policy</a><br>
                    </div>

                </div>
                <div class="box51">
                    <h4> get newsletter</h4>

                    <div class="a51">
                        <div class="b51">
                            <input type="text" id="email1" placeholder="EMAIL">
                            <div class="end">
                                <button onclick="okk()">

                                    <i class="fa-regular fa-paper-plane"></i>
                                </button>
                                <script>
                                    const email1 = document.getElementById("email1");
                                    function okk() {
                                        if (email1.value == "") {
                                            alert("enter email first")

                                        }
                                        else {
                                            alert("submitted 😉");
                                            email1.value = "";
                                        }

                                    }
                                </script>
                            </div>
                        </div>
                        <div id="fb">
                            <p id="ico"> <i class="fa-brands fa-facebook"> </i> </p>
                            <p id="ico"><i class="fa-brands fa-google-plus"> </i> </p>
                            <p id="ico"> <i class="fa-brands fa-twitter"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                <br>


            </div>
            
            <div id="spa">
            </div>
            <br>


        </footer>
    </section>


</body>

</html>
